.stocks_div {
  background: #000;
  width: 100%;
  height: 300px;
  margin: 30px;
}

.stock_list {
  background-color: #ffd53a;
  width: 46.5%;
  height: 100%;
  overflow: auto;
      border-left: 50px double black;
  float: left;
}
  
  
  